.form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.input {
  padding: 4px;
  flex: 1 0 150px;
}

.button {
  padding: 8px 12px;
}

.error {
    color: #d93025;
    font-size: 12px;
    margin-top: 4px;
}

.inputError {
    border-color: #d93025;
    background-color: #ffe6e6;
}